/* Regular @import url statements work as you'd expect them to -- alternatively
you can import locally, and they wind up in the resulting bundle */
@import url('https://fonts.googleapis.com/css?family=Gentium+Basic');

html {
  padding: 0;
  border: 0;
  font-family: 'Gentium Basic', serif;
  font-size: 16px;

  /* We can nest rules, thanks to cssnext */
  li {
    font-size: 1.2rem;
  }
}

.hidden {
  /*display: none;*/
  visibility: hidden;
}

/* Colony CSS */
.ColonyInfo {
  text-align: center;
  border: 1px solid #aaa;
  padding: 10px;
  margin: 0px 0px 30px 0px;
}

.ColonyMarket {
  border: 1px solid #ccc;
  border-radius: 5px 5px 5px 5px;
  height: 800px;
}

.ColonyAssets {
  border: 1px solid #ccc;
  border-radius: 5px 5px 5px 5px;
  height: 800px;
}

.ColonyDashboard {
    text-align: center;
}

.coords {
  font-size: 80%;
}

.mining-progress {
  width: 200px;
}

.subheader {
  font-weight:bold;
  padding: 10px 0px 10px 0px;
}

/* react-tabs */
.react-tabs__tab-list {
  border-bottom: 1px solid #aaa;
  margin: 0 0 10px;
  padding: 0;
}

.react-tabs__tab {
  display: inline-block;
  border: 1px solid transparent;
  border-bottom: none;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 6px 12px;
  cursor: pointer;
}

.react-tabs__tab--selected {
  background: #fff;
  border-color: #aaa;
  color: black;
  border-radius: 5px 5px 0 0;
}

.react-tabs__tab-panel {
  display: none;
}

.react-tabs__tab-panel--selected {
  display: block;
}

.react-tabs__tab--disabled {
  color: GrayText;
  cursor: default;
}

.react-tabs__tab:focus {
  box-shadow: 0 0 5px hsl(208, 99%, 50%);
  border-color: hsl(208, 99%, 50%);
  outline: none;
}

.react-tabs__tab:focus:after {
  content: "";
  position: absolute;
  height: 5px;
  left: -4px;
  right: -4px;
  bottom: -5px;
  background: #fff;
}
